

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.wrapper {
    background-color: #470642;
}

.topbar {
    background-color: gold;
    color: black;
}

.logobox {
    background-color: purple;
    vertical-align: top;
    color: white;
}

.welcomebox {
    color: black;
    vertical-align: top;
}

#top-nav {
    background-color: rgb(235, 133, 16);
    height: 5rem;
}




