<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="../static/css/style.css"> <!-- for testing purposes while I dont have server running -->

    <title>Stats</title>
</head>
<body>
    <div class="wrapper">

        <!-- Logo, Welcome Username, Logout -->
        <div class="topbar d-flex flex-lg-row">

            <!-- Logo -->
            <div class="logobox col-md-3 d-inline-flex align-items-stretch">
                <h1 class="display-1">Speakeasy</h1>
            </div>

            <!-- Welcome User Bar -->
            <div class="welcomebox col-md-7 d-inline-flex align-items-stretch">
                <h2 class="display-4">Welcome {{ thisUser.first_name + ' ' + thisUser.last_name }}</h2>
            </div>

            <!-- Logout Link -->
            <div class="logoutbox col-md-1 d-inline-flex align-items-stretch">
                <h4 class="display-5 logoutLink"><a href="/destroy">Logout</a></h4>
            </div>
        </div>




        <!-- Stats, table of videos and stream with earnings for each, and need total earnings -->

        <!-- Total Earnings -->
        <div class="totalEarnings container bg-light text-success">
            <h3 class="display-2">Total Earnings</h3>

            <table class="table table-striped table-light table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Total Tips</th>
                        <th scope="col">Total Donations</th>
                        <th scope="col">Total Time Income</th>
                        <th scope="col">Grand Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${{ thisUser.earnings_tips }}</td>
                        <td>${{ thisUser.earnings_donations }}</td>
                        <td>${{ thisUser.earnings_watcher_seconds }}</td>
                        <td>${{ thisUser.earnings_tips + thisUser.earnings_donations + thisUser.earnings_watcher_seconds }}</td>
                    </tr>
                </tbody>
            </table>

        </div>


        <!-- Stream Earnings -->
        <div class="streamEarnings container bg-light text-success">
            <h3 class="display-2">Stream Earnings</h3>

            <table class="table table-dark table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Stream Title</th>
                        <th scope="col">Total Times Watched</th>
                        <th scope="col">Tips</th>
                        <th scope="col">Donations</th>
                        <th scope="col">Time Based Income</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- may need to change this to a query from python -->
                        {% if thisUser.stream %}
                            <td>{{ thisUser.stream.title }}</td>
                            <td>{{ thisUser.stream.num_total_watchers }}</td>
                            <td>${{ thisUser.stream.earnings_tips }}</td>
                            <td>${{ thisUser.stream.earnings_donations }}</td>
                            <td>${{ thisUser.stream.earnings_watcher_seconds }}</td>
                            <td>${{ thisUser.stream.earnings_tips + stream.earnings_donations + stream.earnings_watcher_seconds }}</td>
                        {% else %}
                            <td>No Stream Found</td>
                            <td>0</td>
                            <td>$0</td>
                            <td>$0</td>
                            <td>$0</td>
                            <td>$0</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

        </div>




        <!-- Earnings Per Video -->
        <div class="videoEarnings container bg-light text-success">
            <h3 class="display-2">Video Earnings</h3>

            <table class="table table-striped table-light table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Video Title</th>
                        <th scope="col">Times Watched</th>
                        <th scope="col">Tips</th>
                        <th scope="col">Donations</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- may need to change this to a query from app.py -->
                    {% if thisUser.videos|length > 0 %}
                        {% for video in thisUser.videos %}

                            <tr>
                                <td>{{ video.title }}</td>
                                <td>{{ video.num_times_watched }}</td>
                                <td>${{ video.earnings_tips }}</td>
                                <td>${{ video.earnings_donations }}</td>
                                <td>${{ video.earnings_tips + video.earnings_donations }}</td>
                            </tr>

                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div>












    </div>


</body>
</html>